---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// Change colors
$background-color: #fff;
$text-color: #333d47;
$primary-color: #a31f34;
$lighter-primary-color: mix(#fff, $primary-color, 90%) !default;
$border-color: #ececec;
$link-color: $primary-color;
$link-color-hover: mix(#000, $link-color, 25%) !default;
$masthead-link-color: $text-color;
$masthead-link-color-hover: mix(#000, $link-color, 25%) !default;
$toggle-button-focus-color: mix(#000, $link-color, 10%) !default;
$footer-background-color: $background-color;



// Font sizes (0.8 * mmistakes_size)
// $doc-font-size: 12.8 !default;
// $type-size-1: 1.9528em !default; // ~39.056px
// $type-size-2: 1.553em !default; // ~31.248px
// $type-size-3: 1.25em !default; // ~25.008px
// $type-size-4: 1em !default; // ~20px
// $type-size-5: 0.75em !default; // ~16px
// $type-size-6: 0.6875em !default; // ~12px
// $type-size-7: 0.625em !default; // ~11px
// $type-size-8: 0.5em !default; // ~10px



// Import Minimal Mistakes theme
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


// CSS Customizations
a {
	text-decoration: none;  // Links have no underline by default
}

// Navbar logo
.greedy-nav a.navbar-logo-link {
	padding: 0; // Remove padding to match logo and button
	margin: 0px;
}
.navbar-logo {
	margin-right: 1rem;

	@include breakpoint($x-large) {
		height: 55px;
	}
	@include breakpoint($large $x-large) {
		height: 50px;
	}
	@include breakpoint($medium $large) {
		height: 45px;
	}
	@include breakpoint(max-width $medium) {
		height: 40px;
	}
}


// Navigation bar lines
.greedy-nav .visible-links a:before {
	height: 2px !important;
}

// Link buttons color
%tab-focus {
	/* Default*/
	outline: thin dotted $toggle-button-focus-color;
	/* Webkit*/
	outline: 5px auto $toggle-button-focus-color;
	outline-offset: -2px;
}



// Footer
.page__footer {
	border-top: 1px solid $border-color;  // Add border
	footer {
		padding-bottom: 1em;
	}
}
.page__footer-copyright {
	text-align: right;  // Right align footer
}
.page__footer-follow {
	@include breakpoint(max-width $small) {
		margin-bottom: 1em;
	}
	a {
		padding-right: 1.5em;
	}
	color: $primary-color;
}


// Tables
thead {
	background-color: $background-color;  // White background
}

// Increase Events header height
.layout--posts .page__hero--overlay {
	padding-top: 5rem;
	padding-bottom: 5rem;
}

// Page meta
.page__meta {
    margin-top: 0em;
    margin-bottom: 0.5em;
}

// About page
.layout--about
.entries-board{
	margin-top: 1.5em;

	.grid__item {
		.archive__item-teaser{
			max-height: 500px;
			img {
				display: block;
				margin: auto;
				width: 50%;
				border-radius: 5%;
				@include breakpoint($medium) {
					width: 90%;
				}
			}
		}
		.archive__item-description {
			text-align: center;
			overflow: hidden;
			text-overflow: ellipsis;
			.archive__item-role {
				font-size: 0.8em;
				font-weight: 700;
				font-style: italic;
				margin-top: 0em;
				margin-bottom: 0.4em;
			}
			.archive__item-position {
				font-size: 0.8em;
				margin-top: 0em;
				margin-bottom: 0em;
			}
			.archive__item-topic {
				font-size: 0.8em;
				margin-top: 0em;
			}
	}


	}

}

.alumni {
	clear:both;  // Force new line in grid
	display:block;
}

// Home
.layout--myhome
.entries-partners{
	margin-top: 1.5em;

	.grid__item {
		margin-bottom: 2em;

		@include breakpoint($small) {
			float: left;
			width: span(5 of 10);

			&:nth-child(2n + 1) {
				clear: both;
				margin-left: 0;
			}

			&:nth-child(2n + 2) {
				clear: none;
				margin-left: gutter(of 10);
			}
		}

		@include breakpoint($medium) {
			float: left;
			width: span(5 of 10);

			&:nth-child(2n + 1) {
				clear: both;
				margin-left: 0;
			}

			&:nth-child(2n + 2) {
				clear: none;
				margin-left: gutter(of 10);
			}
		}


		.archive__item-teaser{
			max-height: 500px;
			img {
				display: block;
				margin: auto;
				width: 50%;
				border-radius: 5%;
				@include breakpoint($medium) {
					width: 70%;
				}
			}
		}

	}

}
// Form
form {
	// background-color: #fff;
	background-color: $lighter-gray;
	border-radius: 1%;
	padding: 1em;
	input {
		background-color: $background-color;
		color: $text-color;
		border: 1px solid $lighter-gray;
		text-align: left;
		font-family: $sans-serif;
		font-size: .8em;
		padding: .5em;
	}
	textarea {
		background-color: $background-color;
		color: $text-color;
		border: 1px solid $lighter-gray;
		text-align: left;
		font-family: $sans-serif;
		font-size: .8em;
		margin-bottom: 1em;
		padding: .5em;
	}
}
