---
layout: default
---

    <div class="head-intro position-relative overflow-hidden p-3 p-md-5 text-center">
	    <div class="row h-100">
      <div class="col-md-8 p-lg-5 mx-auto my-auto">
	      <h1 class="display-4 font-weight-light">{{ site.title }}</h1>
	      <p class="lead font-weight-normal"> {{ site.subtitle }} </p>
	<!-- [> <a class="btn btn-outline-secondary" href="#">Coming soon</a> <] -->
      </div>
      </div>
    </div>

<!-- Old Jumbotron implementation -->
<!-- <div class="jumbotron head-intro"> -->
<!--     <h1 class="display-4">{{ site.title }}</h1> -->
<!--     <p class="lead">{{ site.subtitle }}</p> -->
<!-- </div> -->

<!-- <div class="home py-5 bg-light"> -->
<!--         <div class="container"> -->
<!--                 <div class="row"> -->
<!--                         <div class="col"> -->
<!--  -->
<!--                                 {%- if site.title -%} -->
<!--                                 <h1>{{ site.title }}</h1> -->
<!--                                 {%- endif -%} -->
<!--  -->
<!--                                 {{ content }} -->
<!--                         </div> -->
<!--                 </div> -->
<!--         </div> -->
<!-- </div> -->
<!--  -->
<div class="board py-5 bg-white">
	<div class="container">
		<div class="row">
			<div class="col">
				<h1 class="mb-4">The Board</h1>
			</div>
		</div>
		<div class="row">
			{% for member in site.data.board %}
			<div class="col-lg-4">
				{% if member.website %} <a href="{{member.website}}">{% endif %}
				<img class="rounded-circle mb-2" src="/assets/images/board/{{ member.name | downcase | replace: ' ', '_'}}.jpg" alt="Generic placeholder image" width="140" height="140">
				{% if member.website %} </a> {% endif %}
				<h5 class="mb-1">{{member.name}}</h5>
				<p class="my-1"><b>{{member.role}}</b></p>
				<p class="my-0">{{member.position}}</p>
				<p class="mb-4"><i>{{member.topic}}</i></p>
			</div><!-- /.col-lg-4 -->
			{% endfor %}
		</div>
	</div>
</div>

