---
layout: single
---
<h1>Join us/Contact us!<h1>
<h2>Facebook</h2>
<div class="fb-group" data-href="https://www.facebook.com/groups/mitalyassociation/" data-width="280" data-show-social-context="true" data-show-metadata="false"></div>

<h2>Mailing list</h2>

<p>Feel free to contact us in order to join our mailing list, or to ask information about our upcoming events!</p>

<form action="https://formspree.io/mitalyboard@mit.edu"
      method="POST">
  <input name="name" placeholder="Your name" required>
  <input type="email" name="email" placeholder="Your email" required>
  <input type="hidden" name="_subject" value="[MITaly] Contact Us">
  <textarea name="message" placeholder="Your message" required></textarea>
  <button class="btn btn--primary" type="submit">Send</button>
</form>

<h1>Partners</h1>
<p> Yo </p>
