---
layout: single
---
{{ content }}

<h2>Welcome to MITaly!</h2>

<p>MITaly is the Italian association at MIT.
We strive to facilitate a well-connected network of students, faculty, and affiliates who are linked by a shared experience of both MIT and Italian culture.</p>

<p>If you’re in the Boston area, come to our events, and if you’re abroad, stay in touch!</p>

<h2>Join us/Contact us!</h2>

<h3>Facebook</h3>
<p>Join our Facebook Group for all the updates on the upcoming events!</p>
<a href="{{site.facebook_group}}" class="btn btn--facebook btn--large">Facebook Group</a>

<h3>Mailing list</h3>

<p>Feel free to contact us in order to join our mailing list, or to ask information about our upcoming events!</p>

<form action="https://formspree.io/{{ site.board_email }}"
      method="POST">
	<label for="comment-form-name">Name <small class="required">*</small></label>
	<input name="name" placeholder="e.g., Mario Rossi" required>
	<label for="comment-form-name">Email <small class="required">*</small></label>
	<input type="email" name="email" placeholder="e.g., mario.rossi@email.com" required>
	<input type="hidden" name="_subject" value="[MITaly] Contact Us">
	<label for="comment-form-name">Message <small class="required">*</small></label>
	<textarea name="message" placeholder="Hi MITalians! Please add me to your cool mailing list!" required></textarea>
	<button class="btn btn--primary btn--large" type="submit">Send</button>
</form>

<h2>Partners</h2>

<div class="entries-partners">
	{% for member in site.data.partners %}
	<div class="grid__item">
		<div class="archive__item-teaser">
			{% if member.website %} <a href="{{member.website}}">{% endif %}
				<img src="/assets/images/partners/{{ member.logo }}" alt="{{ member.name }}">
				{% if member.website %}</a> {% endif %}
		</div>
	</div>
	{% endfor %}
</div>

