---
layout: archive
---

<a href="{{ site.google_calendar }}" class="btn btn--primary"><i class="fas fa-fw fa-calendar-alt" aria-hidden="true"></i><span> Google Calendar</span></a> Follow our online calendar to stay updated!

{{ content }}



{% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}
{% assign past_events = "" | split: ',' %}
{% for event in site.posts %}
{% capture eventtime %}{{event.date | date: '%s'}}{% endcapture %}
{% if eventtime < nowunix %}
{% assign past_events = past_events | push:event %}
{% endif %}
{% endfor %}

{% assign upcoming_events = "" | split: ',' %}
{% for event in site.posts %}
{% capture eventtime %}{{event.date | date: '%s'}}{% endcapture %}
{% if eventtime => nowunix %}
{% assign upcoming_events = upcoming_events | push:event %}
{% endif %}
{% endfor %}


<h2> Upcoming Events </h2>

  <section id="Upcoming Events" class="taxonomy__section">
    <div class="entries-{{ page.entries_layout | default: 'list' }}">
      {% for post in upcoming_events %}
        {% include archive-single.html type=page.entries_layout %}
      {% endfor %}
    </div>
    <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
  </section>


<h2> Past Events </h2>

<ul class="taxonomy__index">
  {% assign postsInYear = past_events | group_by_exp: 'post', 'post.date | date: "%Y"' %}
  {% for year in postsInYear %}
    <li>
      <a href="#{{ year.name }}">
        <strong>{{ year.name }}</strong> <span class="taxonomy__count">{{ year.items | size }}</span>
      </a>
    </li>
  {% endfor %}
</ul>

{% assign postsByYear = past_events | group_by_exp: 'post', 'post.date | date: "%Y"' %}
{% for year in postsByYear %}
  <section id="{{ year.name }}" class="taxonomy__section">
    <h2 class="archive__subtitle">{{ year.name }}</h2>
    <div class="entries-{{ page.entries_layout | default: 'list' }}">
      {% for post in year.items %}
        {% include archive-single.html type=page.entries_layout %}
      {% endfor %}
    </div>
    <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
  </section>
{% endfor %}
